@use './assets/sass/config';

/* resetando as configuracoes padroes da pagina */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* resetando as configuracoes padroes do HTML E BODY */
html, body {
    @include config.font-paragraf;
    width: 100%;
    height: 100%;
    font-size: 18px;
}
/*formataacao incial da pagina */
.webview {
  width: 100%;
  margin: auto;  
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: config.$color-green;
    color: config.$color-white;
/*container foratacao nome pessoa*/
    .container {
      h1 {
        font-size: 2rem;
        text-align: center;
      }  
      p{
        font-size: 1rem;
        text-align: center;
      }
      .m-auto-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 8px;
        
        /*Botao Portifolio */
        .btn-portifolio {
          @include config.font-paragraf;  
          width: 160px;
          height: 35px;
          border-radius: 6px;
          border: 1px solid config.$color-white;
          background-color: transparent;
          color: config.$color-white;
        }
    }

    }
}

/* Area Sobre Formatacao */
.webview{
    .sobre{
        width: 100%;
        
        .container{          
            padding: 10px;
            
            .title{
                width: 100%;
                text-align: center;
                margin-top: 20px;
            
            h2 {
               @include config.font-subtitle; 
               font-size: 1.6rem;
               font-weight: bold;
               color: config.$color-green;
            }
            }
            .row{
                width: 100%;
                margin-top: 30px;
                margin-bottom: 30px;
            
                /*fotos*/
             .c-photo{
                width: 100%;
                margin: auto;
                margin-bottom: 30px;
               
                img{
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;    
               } 
            }
               .c-descricao{
                width: 100%;

                p{
                    @include config.font-paragraf;
                    text-align: justify;
                    margin-bottom: 20px;
                }

                .habildades {
                    width: 100%;

                    .h-item{
                        width: 100%;
                        margin-bottom: 10px;
                    
                    .h-title{
                        width: 100%;

                        h3{
                            @include config.font-paragraf;
                            font-size: 1rem;
                        font-weight: bold;                        
                    }
                    }
                    .h-c-porcentagem {
                      display: flex;
                     flex-direction: row;
                     align-items: center;
                     width: 100%;
                     min-height: 25px;  
                    
                    .h-porcentagem-geral{
                        position: relative;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        height: 6px;
                        border-radius: 6px;

                       .h-porcentagem-conhecimento{
                        height: 100%;
                       } 

                       span{
                        @include config.font-paragraf;
                        margin-left: 10px;
                       }
                    }
                    
                    }
                    }
                }

               }
            
            }
        }
    }
}

/* Area serviços Formatacao */

.webview{

    .servicos{
        width: 100%;
        background-color: config.$color-green;
        color: config.$color-white;

         /*div container */
            .container{
            padding: 10px;

                .s-title{
                    width: 100%;
                    text-align: center;
                    margin-top: 20px;
                    margin-bottom: 30px;   

                    h2{
                        @include config.font-paragraf;
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: config.$color-white;
                    }
                }  

               /*formatacao do carrousel*/
               
               .s-carrousel{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;
               
                        /*formatacao da div- S-carrousel-item*/ 
                        .s-carrousel-container{
                            display: flex;
                            flex-direction: row;
                            min-width: 100%;  
                               
                            .s-carrousel-item {
                                min-height: 260px;
                                background-color: config.$color-white;
                                color: config.$color-green;       
                            
                                .title{
                                    width: 100%;
                                    padding: 10px;
                                
                                    p{
                                        @include config.font-paragraf;
                                        font-size: 1.6rem;
                                        font-weight: bold;  
                                      }   
                                }
                                
                                /*div body serviços */
                                .body{
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    min-height: 180px;   

                                    .icon{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: center;
                                        align-items: center;
                                        width: 100%;
                                        margin-bottom: 10px;

                                        span i {

                                            font-size: 38px;
                                        }
                                    }

                                    .texto{
                                     display: flex;
                                     flex-direction: row;
                                     justify-content: center;
                                     text-align: center;
                                     width: 100%;
                                     min-height: 10px;
                                     
                                        p{
                                            @include config.font-paragraf;
                                            text-align: center;
                                            font-size: 1.4rem;
                                        }
                                    }      
                                 }
                            }     
                        }
            }
            }   
    }
}

/*webview da aba Portifololios */
.webview {
    .portifolios{
        width: 100%;
        min-height: 100vh;
        .container{
          padding: 10px;
          
            /* inicio do p-title */
            .p-title{
              width: 100%;
              text-align: center;
              margin-top: 20px;
              margin-bottom: 30px;  

                h2{
                    @include config.font-subtitle;
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: config.$color-green;
                }
            }
           /* fim do p-title */ 
          
           /* inicio do p-projetos */ 
           .p-projetos{
                width: 100%;

                .projeto{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 100%;
                    grid-template-rows: repeat(3,auto);
                    row-gap: 10px;

                    .photos{
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;

                         /* inicio da tag classe img */   
                        .img{
                            width: 100%;
                            height: 100%;
                            position: relative;

                            /* inserindo o Hover nas imagens quando passa o mouse */      
                                &:hover {
                                    .descricao{
                                        position: absolute;
                                        display: flex;
                                        width: 100%;
                                        height: 50px;
                                        background-color: config.$color-green;
                                        bottom: 0;
                                        left: 0;
                                        z-index: 9999;
                                        p {
                                            display: block;
                                            color: config.$color-white;
                                        }
                                    }   
                                }
                                img{
                                    width: 100%;
                                    height: 100%;
                                    background-size:cover;
                                    background-repeat: no-repeat;
                                    background-position: center;        
                                    } 
                        }
                         /* final da tag classe img */


                         /* inicio da tag classe Descricao */
                         .descricao{
                            display: none;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            min-height: 50px;

                            p {
                                display: none;
                                @include config.font-paragraf;
                                color: config.$color-white;
                            }
                         }
                    }   
                }
           } 

        }
    }


}

 /* inicio da AREA CONTATO*/
.webview{

    .contato{
      width: 100%;
      margin-bottom: 30px;
      
      .container{
        padding: 10px;


                .title{
                  width: 100%;
                  text-align: center;
                  margin-top: 20px;
                  margin-bottom: 30px;      
                   
                    h2 {
                        @include config.font-subtitle;
                        font-size: 1.6rem;
                        font-weight: bold;
                        color: config.$color-green;
                    }
                }

        /* inicio da tag Fomrulario*/
        .formulario{
             width: 100%;
             
                form{
                width: 100%;
                
                    .form-group{
                        width: 100%;

                            .controls{
                             width: 100%;
                             min-height: 70px;
                             
                               label{
                                @include config.font-paragraf;
                                font-weight: bold;
                                color: config.$color-green;
                               }
                               input{
                                @include config.font-paragraf;
                                height: 30px;
                                width: 100%;
                                padding: 10px;
                                border: 1px solid config.$color-green;
                                
                                /* criacao do evento quando o campo tiver selecionado*/
                                &:active{
                                    border: 1px solid config.$color-green;
                                    border-radius: 2px;
                                    }  
                                    &:focus{
                                        border: 1px solid config.$color-green;
                                        border-radius: 2px;
                                            }        
                               }
                               textarea{
                                width: 100%;
                                height: 180px;
                                padding: 10px;
                                border: 1px solid config.$color-green;
                                outline: none;



                                /* criacao do evento quando o campo tiver selecionado*/
                                &:active{
                                    border: 1px solid config.$color-green;
                                    border-radius: 2px;
                                    }  
                                    &:focus{
                                        border: 1px solid config.$color-green;
                                        border-radius: 2px;
                                            }        
                            } 
                            }
                             /* criacao do botao enviar estilizacao*/
                            
                             
                             .btn-form-send{
                                @include config.font-paragraf;
                                margin-top: 20px;
                                width: 140px;
                                height: 40px;
                                border: none;
                                background-color: config.$color-green;
                                color: config.$color-white;
                                border-radius: 2px;

                                &:hover{
                                    background-color: config.$color-green;
                                    }
                                    &:active{
                                        background-color: config.$color-green;
                                        }

                             }
                    }
                }
            
            }

      }

    }
}


 /* inicio da AREA rodape*/
 .webview{
 
      footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: config.$color-green;
        
            span {
            @include config.font-paragraf;
            color: config.$color-white;        
            }
    }  
}

      
@media only screen and (min-width: config.$media-mobile-l){
    /*formataacao incial da pagina */
    .webview{
        .intro{

            .container{
                h1{
                    font-size: 2.4rem;
                }
                p{
                    font-size: 1.2rem;
                }
            }
        }
    }
    /*formataacao da area sobre*/
    .webview{
        .sobre{ 
        .container{
               .row{
                display: grid;
                grid-template-columns: repeat(2, 50%);

                   .c-photo{
                    padding: 10px;
                   }
                   .c-descricao{
                    padding: 10px;

                    p{
                      font-size: 1.2rem;  
                    }

                    .habildades{
                            .h-item{
                                .h-title{
                                    h3{
                                       font-size: 1.2rem; 
                                    }
                                }

                                .h-c-porcentagem{
                                    
                                    .h-porcentagem-geral{

                                        span{
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                            }  
                    }
                   } 
               }   
        } /*final container sobre */
    }
    }


     /*formataacao da area serviços*/
     .webview{ 
        .servicos{

        .container{
            
            .s-carrousel{
                margin-bottom: 40px;
                height: 400px;
            }
        }
    }

     }
     
     
     /*formataacao da area portifolios*/
     .webview{
        .portifolios{
        .container{

            .p-title{
              margin-top: 30px;
              margin-bottom: 30px;  
            }
            .p-projetos{
                    .projeto{
                        grid-template-columns: repeat(2, 1fr);
                        grid-template-rows: repeat(2, 1fr);
                        row-gap: 10px;
                        column-gap: 10px;

                            .photos{
                               height: 100%;
                               
                                img{
                                    position: relative;

                                      &:hover{

                                           .descricao{
                                            position: absolute;
                                            display: flex;
                                            width: 100%;
                                            height: 50px;
                                            background-color: config.$color-green;
                                            bottom: 0;
                                            left: 0;
                                            z-index: 9999;

                                                p{
                                                  display: block;
                                                  color: config.$color-white;       
                                                } 
                                           } 
                                      }   
                                }

                            }
                    }
            }
        }  

    }
     }
     /*final portifolios*/

     /*incio da area contato*/

     .webview{

        .contato{

            .container{
                    
                .title{
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .formulario{

                        form{

                            .form-group{
                                display: flex;
                                flex-direction: row;
                            }

                            .controls{
                                padding: 5px;
                            }

                        }
                }   
            }
     }
    }

/*final contato*/
}

/*final de etapa mobile ate 428px*/    


/* INICIO DA ETAPA RESPONSIVA DE TAMNHO DE TELA DESKTOP ate 728px*/
@media only screen and (min-height: config.$media-desktop ) {

    .webview{

        .intro{

            .container{

                h1{
                    font-size: 3rem;
                }

                p{
                  font-size: 1.6rem;  
                }

                .m-auto-btn {
                    margin-top: 10px;

                        .btn-portifolio {
                            @include config.font-paragraf;
                            width: 180px;
                            height: 40px;

                            &:hover {

                                background-color: config.$color-green;
                                border-radius: 6px;
                                border: 1px solid config.$color-green;
                            }
                        }
                }   
            }
        }  
    }

     /*incio da area Sobre*/
    .webview{

         .sobre{

            .container{
                width: 90%;
                margin: auto;

                    .title{
                        margin-top: 40px;
                        margin-bottom: 40px;
                        
                        h2 {
                           font-size: 2rem; 
                        }
                    }

                    .row{
                       display: grid;
                       grid-template-columns:  40% 60%;
                       margin-bottom: 40px;


                        .c-photo{
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            padding: 10px;
                            
                            img{
                            width: 100%;
                            max-width: 400px;  
                            } 
                        }

                        .c-descricao{
                            padding: 10px;
                            margin-top: 0px;


                            p{
                                font-size: 1.2rem;
                                margin-bottom: 25px;
                            }
                            
                            .habildades{
                               
                                .h-item{

                                    .h-title{
                                        width: 100%;

                                        h3{
                                            font-size: 1.2rem;
                                        }

                                    }

                                    .h-c-porcentagem{

                                        .h-porcentagem-geral{

                                            span{
                                                font-size: 1.2rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
            }
         }   
    }



     /*incio da area serviços*/
     .webview{ 

        .servicos{

            .container{
                width: 90%;
                margin: auto;


                .s-title{
                    margin-top: 40px;
                    margin-bottom: 40px;

                    h2{
                      font-size: 2rem;  
                    }
                }

                .s-carrousel{
                    width: 96%;
                    margin: auto;
                    margin-bottom: 40px;
                }
            }
        }     
     }

      /*incio da area portifolio*/
      .webview{

        .portifolios{

            .container{
                width: 90%;
                margin: auto;


                .p-title{

                    h2{
                        font-size: 2rem;
                    }
                }
                
                .p-projetos{
                    padding: 10px;

                     .projeto{
                        grid-template-columns: repeat(3, auto);
                        grid-template-rows: 1fr;
                        grid-auto-rows: 1fr;


                            .photos{
                                height: 100%;

                                .img{
                                    position: relative;

                                    &:hover {

                                        .descricao{
                                            position: absolute;
                                            display: flex;
                                            width: 100%;
                                            height: 50px;
                                            background-color: config.$color-green;
                                            bottom: 0;
                                            left: 0;
                                            z-index: 9999;

                                            p {
                                               display: block;
                                               color: config.$color-white; 
                                            }
                                        }
                                    }
                                }
                            }
                     }   
                }
            }
        }
      }



      /*incio da areaContato*/
      .webview{ 


      }

}   
