@charset "UTF-8";
/* variaveis media-queries */
/* resetando as configuracoes padroes da pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* resetando as configuracoes padroes do HTML E BODY */
html, body {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

/*formataacao incial da pagina */
.webview {
  width: 100%;
  margin: auto;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #29AE81;
  color: #FFFFFF;
  /*container foratacao nome pessoa*/
}
.intro .container h1 {
  font-size: 2rem;
  text-align: center;
}
.intro .container p {
  font-size: 1rem;
  text-align: center;
}
.intro .container .m-auto-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 8px;
  /*Botao Portifolio */
}
.intro .container .m-auto-btn .btn-portifolio {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  width: 160px;
  height: 35px;
  border-radius: 6px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

/* Area Sobre Formatacao */
.webview .sobre {
  width: 100%;
}
.webview .sobre .container {
  padding: 10px;
}
.webview .sobre .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.webview .sobre .container .title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29AE81;
}
.webview .sobre .container .row {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  /*fotos*/
}
.webview .sobre .container .row .c-photo {
  width: 100%;
  margin: auto;
  margin-bottom: 30px;
}
.webview .sobre .container .row .c-photo img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.webview .sobre .container .row .c-descricao {
  width: 100%;
}
.webview .sobre .container .row .c-descricao p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 20px;
}
.webview .sobre .container .row .c-descricao .habildades {
  width: 100%;
}
.webview .sobre .container .row .c-descricao .habildades .h-item {
  width: 100%;
  margin-bottom: 10px;
}
.webview .sobre .container .row .c-descricao .habildades .h-item .h-title {
  width: 100%;
}
.webview .sobre .container .row .c-descricao .habildades .h-item .h-title h3 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  font-weight: bold;
}
.webview .sobre .container .row .c-descricao .habildades .h-item .h-c-porcentagem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 25px;
}
.webview .sobre .container .row .c-descricao .habildades .h-item .h-c-porcentagem .h-porcentagem-geral {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 6px;
  border-radius: 6px;
}
.webview .sobre .container .row .c-descricao .habildades .h-item .h-c-porcentagem .h-porcentagem-geral .h-porcentagem-conhecimento {
  height: 100%;
}
.webview .sobre .container .row .c-descricao .habildades .h-item .h-c-porcentagem .h-porcentagem-geral span {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

/* Area serviços Formatacao */
.webview .servicos {
  width: 100%;
  background-color: #29AE81;
  color: #FFFFFF;
  /*div container */
}
.webview .servicos .container {
  padding: 10px;
  /*formatacao do carrousel*/
}
.webview .servicos .container .s-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .servicos .container .s-title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
  color: #FFFFFF;
}
.webview .servicos .container .s-carrousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  /*formatacao da div- S-carrousel-item*/
}
.webview .servicos .container .s-carrousel .s-carrousel-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item {
  min-height: 260px;
  background-color: #FFFFFF;
  color: #29AE81;
  /*div body serviços */
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title {
  width: 100%;
  padding: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .title p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  font-weight: bold;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 180px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .icon span i {
  font-size: 38px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 10px;
}
.webview .servicos .container .s-carrousel .s-carrousel-container .s-carrousel-item .body .texto p {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 1.4rem;
}

/*webview da aba Portifololios */
.webview .portifolios {
  width: 100%;
  min-height: 100vh;
}
.webview .portifolios .container {
  padding: 10px;
  /* inicio do p-title */
  /* fim do p-title */
  /* inicio do p-projetos */
}
.webview .portifolios .container .p-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .portifolios .container .p-title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29AE81;
}
.webview .portifolios .container .p-projetos {
  width: 100%;
}
.webview .portifolios .container .p-projetos .projeto {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  row-gap: 10px;
}
.webview .portifolios .container .p-projetos .projeto .photos {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  /* inicio da tag classe img */
  /* final da tag classe img */
  /* inicio da tag classe Descricao */
}
.webview .portifolios .container .p-projetos .projeto .photos .img {
  width: 100%;
  height: 100%;
  position: relative;
  /* inserindo o Hover nas imagens quando passa o mouse */
}
.webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #29AE81;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao p {
  display: block;
  color: #FFFFFF;
}
.webview .portifolios .container .p-projetos .projeto .photos .img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.webview .portifolios .container .p-projetos .projeto .photos .descricao {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
}
.webview .portifolios .container .p-projetos .projeto .photos .descricao p {
  display: none;
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

/* inicio da AREA CONTATO*/
.webview .contato {
  width: 100%;
  margin-bottom: 30px;
}
.webview .contato .container {
  padding: 10px;
  /* inicio da tag Fomrulario*/
}
.webview .contato .container .title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.webview .contato .container .title h2 {
  font-family: "Ruda", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  font-weight: bold;
  color: #29AE81;
}
.webview .contato .container .formulario {
  width: 100%;
}
.webview .contato .container .formulario form {
  width: 100%;
}
.webview .contato .container .formulario form .form-group {
  width: 100%;
  /* criacao do botao enviar estilizacao*/
}
.webview .contato .container .formulario form .form-group .controls {
  width: 100%;
  min-height: 70px;
}
.webview .contato .container .formulario form .form-group .controls label {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  font-weight: bold;
  color: #29AE81;
}
.webview .contato .container .formulario form .form-group .controls input {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  height: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid #29AE81;
  /* criacao do evento quando o campo tiver selecionado*/
}
.webview .contato .container .formulario form .form-group .controls input:active {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls input:focus {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls textarea {
  width: 100%;
  height: 180px;
  padding: 10px;
  border: 1px solid #29AE81;
  outline: none;
  /* criacao do evento quando o campo tiver selecionado*/
}
.webview .contato .container .formulario form .form-group .controls textarea:active {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .controls textarea:focus {
  border: 1px solid #29AE81;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .btn-form-send {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #29AE81;
  color: #FFFFFF;
  border-radius: 2px;
}
.webview .contato .container .formulario form .form-group .btn-form-send:hover {
  background-color: #29AE81;
}
.webview .contato .container .formulario form .form-group .btn-form-send:active {
  background-color: #29AE81;
}

/* inicio da AREA rodape*/
.webview footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #29AE81;
}
.webview footer span {
  font-family: "Ruda", sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}

@media only screen and (min-width: 425px) {
  /*formataacao incial da pagina */
  .webview .intro .container h1 {
    font-size: 2.4rem;
  }
  .webview .intro .container p {
    font-size: 1.2rem;
  }
  /*formataacao da area sobre*/
  .webview .sobre {
    /*final container sobre */
  }
  .webview .sobre .container .row {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .webview .sobre .container .row .c-photo {
    padding: 10px;
  }
  .webview .sobre .container .row .c-descricao {
    padding: 10px;
  }
  .webview .sobre .container .row .c-descricao p {
    font-size: 1.2rem;
  }
  .webview .sobre .container .row .c-descricao .habildades .h-item .h-title h3 {
    font-size: 1.2rem;
  }
  .webview .sobre .container .row .c-descricao .habildades .h-item .h-c-porcentagem .h-porcentagem-geral span {
    font-size: 1.2rem;
  }
  /*formataacao da area serviços*/
  .webview .servicos .container .s-carrousel {
    margin-bottom: 40px;
    height: 400px;
  }
  /*formataacao da area portifolios*/
  .webview .portifolios .container .p-title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .portifolios .container .p-projetos .projeto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .webview .portifolios .container .p-projetos .projeto .photos {
    height: 100%;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img {
    position: relative;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img:hover .descricao {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #29AE81;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webview .portifolios .container .p-projetos .projeto .photos img:hover .descricao p {
    display: block;
    color: #FFFFFF;
  }
  /*final portifolios*/
  /*incio da area contato*/
  .webview .contato .container .title {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .webview .contato .container .formulario form .form-group {
    display: flex;
    flex-direction: row;
  }
  .webview .contato .container .formulario form .controls {
    padding: 5px;
  }
  /*final contato*/
}
/*final de etapa mobile ate 428px*/
/* INICIO DA ETAPA RESPONSIVA DE TAMNHO DE TELA DESKTOP ate 728px*/
@media only screen and (min-height: 1024px) {
  .webview .intro .container h1 {
    font-size: 3rem;
  }
  .webview .intro .container p {
    font-size: 1.6rem;
  }
  .webview .intro .container .m-auto-btn {
    margin-top: 10px;
  }
  .webview .intro .container .m-auto-btn .btn-portifolio {
    font-family: "Ruda", sans-serif;
    font-weight: 400;
    width: 180px;
    height: 40px;
  }
  .webview .intro .container .m-auto-btn .btn-portifolio:hover {
    background-color: #29AE81;
    border-radius: 6px;
    border: 1px solid #29AE81;
  }
  /*incio da area Sobre*/
  .webview .sobre .container {
    width: 90%;
    margin: auto;
  }
  .webview .sobre .container .title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .webview .sobre .container .title h2 {
    font-size: 2rem;
  }
  .webview .sobre .container .row {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-bottom: 40px;
  }
  .webview .sobre .container .row .c-photo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  .webview .sobre .container .row .c-photo img {
    width: 100%;
    max-width: 400px;
  }
  .webview .sobre .container .row .c-descricao {
    padding: 10px;
    margin-top: 0px;
  }
  .webview .sobre .container .row .c-descricao p {
    font-size: 1.2rem;
    margin-bottom: 25px;
  }
  .webview .sobre .container .row .c-descricao .habildades .h-item .h-title {
    width: 100%;
  }
  .webview .sobre .container .row .c-descricao .habildades .h-item .h-title h3 {
    font-size: 1.2rem;
  }
  .webview .sobre .container .row .c-descricao .habildades .h-item .h-c-porcentagem .h-porcentagem-geral span {
    font-size: 1.2rem;
  }
  /*incio da area serviços*/
  .webview .servicos .container {
    width: 90%;
    margin: auto;
  }
  .webview .servicos .container .s-title {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .webview .servicos .container .s-title h2 {
    font-size: 2rem;
  }
  .webview .servicos .container .s-carrousel {
    width: 96%;
    margin: auto;
    margin-bottom: 40px;
  }
  /*incio da area portifolio*/
  .webview .portifolios .container {
    width: 90%;
    margin: auto;
  }
  .webview .portifolios .container .p-title h2 {
    font-size: 2rem;
  }
  .webview .portifolios .container .p-projetos {
    padding: 10px;
  }
  .webview .portifolios .container .p-projetos .projeto {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
  }
  .webview .portifolios .container .p-projetos .projeto .photos {
    height: 100%;
  }
  .webview .portifolios .container .p-projetos .projeto .photos .img {
    position: relative;
  }
  .webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao {
    position: absolute;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #29AE81;
    bottom: 0;
    left: 0;
    z-index: 9999;
  }
  .webview .portifolios .container .p-projetos .projeto .photos .img:hover .descricao p {
    display: block;
    color: #FFFFFF;
  }
  /*incio da areaContato*/
}

/*# sourceMappingURL=style.css.map */
